---
title: Gustavo Tavares - Inspired by Dragon Fruit
---
<div class="container">
  <%= partial "topbar" %>

  <div class="section row">
    <div class="right small-12 medium-12 large-6 columns">
      <div class="workspose row">
        <div class="workspose-cube">
          <a href="http://radical-discovery.herokuapp.com">Radical Discovery</a>
        </div>
        <div class="workspose-cube">
          <a href="http://github.com/ovatsug25">
            <img alt="gitHub" src="/images/GitHub-Mark/PNG/GitHub-Mark-64px.png">
          </a>
        </div>
      </div>
      <div id="blog" class="blog row">
        <div class="small-12 columns">
          <h3 class="headline" >Updates</h3>
        </div>
        <div class="small-12 columns">
          <ul class="no-bullet">
            <% blog.articles[0...3].each do |post| %>
              <li>
              <a class="post-link" href="<%= post.url %>"><%= post.title %></a>
              <br/>
              <small class="post-date"><%= post.date.strftime("%b %-d, %Y") %></small>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="small-12 medium-12 large-6 columns">
      <h2>I do...</h2>
      <h3><a href="#webDev">Web Dev</h3></a>
      <h3><a href="#econ">Economic Analysis</h3></a>
      <h3><a href="#story">Poems and Storytelling</h3></a>
      <h3><a href="#robotics">First Robotics/Lego League Mentoring</h3></a>
      <h3><a href="#blog">Blog</h3></a>
    </div>
  </div>

  <div id="econ" class="section row">
    <div class="right small-12 medium-12 large-6 columns">
      <iframe src="//www.slideshare.net/slideshow/embed_code/13701408" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px 1px 0; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/ovatsug25/poverty-in-guatemala-13701408" title="Poverty in Guatemala" target="_blank">Poverty in Guatemala</a> </strong> from <strong><a href="http://www.slideshare.net/ovatsug25" target="_blank">Gustavo Eladio</a></strong> </div>
    </div>
    <div class="left small-12 medium-12 large-6 columns">
      <h3>My Story begins with this graph:</h3>
      <div id="linegraph"></div>
    </div>
  </div>


  <div id="story" class="poems section">
    <div class="row">
      <div id="poems" class="menu small-12 medium-6 large-6 columns">
        <h3 class="headline">Poems</h3>
        <%= partial "poem_list" %>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <h3 class="headline">Stories</h3>
        <a href="/stories/corrupt_cop.html">Corrupt Cop</a>
      </div>
    </div>
  </div>

  <div id="robotics" class="success-guide section">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="headline">Success Guide</h3>
      </div>
    </div>
    <div class="row">
      <div class="small-10 medium-7 large-7 columns push-3 success-guide-foreword">
        <p>
        Written in Spring 2012, this was an attempt at creating a go-getter attitude in my students at Sci-High.
        Over the past few years I've learned a lot more and would like to guide the reader to these bullets until I revisit the text.
        </p>
        <ol>
          <li>
          Be comfortable in your skin.
          Defend yourself.
          And then give of yourself. Be generous.
          </li>
          <li>
          You can be comfortable and still have a problem.
          Don't be afraid to tackle it. Be crafty.
          </li>
          <li>
          That problem of yours is pretty hard no?
          There will be things you need to learn through
          experimentation and repetition. Also be lazy.
          The cleverness will follow.
          <li>
          Seeds need water, soil, sun, and protection.
          Things don't grow by themselves.
          A plant is more beautiful in a garden.
          </li>
        </ol>
        <div class="books">

          <div class="row">
            <h4>Books for Mentors</h4>
            <a href="http://www.amazon.com/gp/product/B003SNKBZK/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003SNKBZK&linkCode=as2&tag=hylotron-20&linkId=MB7W2COASU2C6GYW"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B003SNKBZK&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B003SNKBZK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B001E1OYYW/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001E1OYYW&linkCode=as2&tag=hylotron-20&linkId=KF4T2IDIWX7D4WF5"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B001E1OYYW&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B001E1OYYW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B001FA0IN8/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001FA0IN8&linkCode=as2&tag=hylotron-20&linkId=OW2Z7B2U2XMGQ6RV"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B001FA0IN8&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B001FA0IN8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
          <div class="row">
            <h6 class="headline">I'm about to become a teacher. How can I be a good one?</h6>
            <p>
            The best teachers I remember from school had three things in common:
            </p>
            <p>
            (1) They had high standards. Like three year olds testing their parents, students will test teachers to see if they can get away with low-quality work or bad behavior. They won't respect the teachers who don't call them on it.
            </p>
            <p>
            (2) They liked us. Like dogs, kids can tell very accurately whether or not someone wishes them well. I think a lot of our teachers either never liked kids much, or got burned out and started not to like them. It's hard to be a good teacher once that happens. I can't think of one teacher in all the schools I went to who managed to be good despite disliking students.
            </p>
            <p>
            (3) They were interested in the subject. Most of the public school teachers I had weren't really interested in what they taught. Enthusiasm is contagious, and so is boredom.
            </p>
            <small>--- From Paul Graham's <a style="color:red" href="http://www.paulgraham.com/raq.html">Rareley Asked Questions</a></small>
            <hr/>
            <p>
            If you want to build a ship,
            don’t drum up the men to gather wood,
            divide the work
            and give orders.
            Instead, teach them to yearn for the vast and endless sea.      – Antoine de Saint-Exupéry
            </p>
          </div>
          <div class="row">
            <h4>Books for Self / Go-Getter Attidue</h4>
            <a href="http://www.amazon.com/gp/product/B000FCKPHG/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000FCKPHG&linkCode=as2&tag=hylotron-20&linkId=NN53LVZ4YIUEX2PZ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B000FCKPHG&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B000FCKPHG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B0070XF474/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0070XF474&linkCode=as2&tag=hylotron-20&linkId=6X77KPN26G2W6OFK"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0070XF474&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0070XF474" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B003WEAI4E/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003WEAI4E&linkCode=as2&tag=hylotron-20&linkId=DZOP3D2QWG3C435J"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B003WEAI4E&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B003WEAI4E" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B0050DIWHU/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0050DIWHU&linkCode=as2&tag=hylotron-20&linkId=T5CRXJWCV7VQY2S6"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0050DIWHU&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0050DIWHU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
          <div class="row">
            <h4>Books for Making</h4>
            <a href="http://www.amazon.com/gp/product/B0063822FO/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0063822FO&linkCode=as2&tag=hylotron-20&linkId=IKJUG7TTJYFAUGWA"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0063822FO&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0063822FO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B0026OR2NQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0026OR2NQ&linkCode=as2&tag=hylotron-20&linkId=PKG75JW5LIBVQZIJ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0026OR2NQ&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0026OR2NQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/1430219483/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1430219483&linkCode=as2&tag=hylotron-20&linkId=7ZEKQRTBMCF37IND"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1430219483&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=1430219483" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
          <div class="row">
            <h4>Books for Team</h4>
            <a href="http://www.amazon.com/gp/product/B0012GTZFC/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0012GTZFC&linkCode=as2&tag=hylotron-20&linkId=CPH7X5UGCWXCM3PO"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0012GTZFC&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0012GTZFC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            -
            <a href="http://www.amazon.com/gp/product/B00AHTN46Q/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00AHTN46Q&linkCode=as2&tag=hylotron-20&linkId=FPYDZJAZCRKFHWZY"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00AHTN46Q&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B00AHTN46Q" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B0052FF7YM/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0052FF7YM&linkCode=as2&tag=hylotron-20&linkId=5KECLVORDWTDV2BZ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0052FF7YM&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0052FF7YM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B001O2S596/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001O2S596&linkCode=as2&tag=hylotron-20&linkId=6LEEDEO2F6HFPLPQ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B001O2S596&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B001O2S596" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B00A5DCALY/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00A5DCALY&linkCode=as2&tag=hylotron-20&linkId=JPPCG635GBU3T4LJ"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00A5DCALY&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B00A5DCALY" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
          <div class="row">
            <h4>Books about Remarkable Makers</h4>
            <a href="http://www.amazon.com/gp/product/B003V1WXKU/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B003V1WXKU&linkCode=as2&tag=hylotron-20&linkId=AKAJTB5FMI5Q3WBH"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B003V1WXKU&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B003V1WXKU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B002UM5BXW/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002UM5BXW&linkCode=as2&tag=hylotron-20&linkId=IB52PZKDQNU355GV"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B002UM5BXW&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B002UM5BXW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B009MYD9F8/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B009MYD9F8&linkCode=as2&tag=hylotron-20&linkId=6HPB7NHHMVBOFL2J"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B009MYD9F8&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B009MYD9F8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B004W2UBYW/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B004W2UBYW&linkCode=as2&tag=hylotron-20&linkId=JDMAQTC5Z7SZYFJI"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B004W2UBYW&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B004W2UBYW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B0027G6XEW/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0027G6XEW&linkCode=as2&tag=hylotron-20&linkId=E5C2TEXDWNBRJBSD"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0027G6XEW&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B0027G6XEW" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
          <div class="row">
            <h4>Books about managing Risk</h4>
            <a href="http://www.amazon.com/gp/product/0887305105/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0887305105&linkCode=as2&tag=hylotron-20&linkId=Y62OEHKMHVO7S3TH"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0887305105&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=0887305105" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
            <a href="http://www.amazon.com/gp/product/B000FC12C8/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000FC12C8&linkCode=as2&tag=hylotron-20&linkId=BD4BMBZPBEQB27ZL"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B000FC12C8&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=hylotron-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=hylotron-20&l=as2&o=1&a=B000FC12C8" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
          </div>
        </div>
      </div>

      <div class="small-12 medium-5 large-5 columns pull-7">
        <%= partial "success_guide_menu" %>
      </div>
    </div>
  </div>
</div>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="linegraph.js" charset="utf-8"></script>
